name: Deploy Microfrontend

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install deps
        run: npm install

      - name: Build all apps
        run: |
          npm run build

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Check key format
        run: |
          echo "Lines in id_rsa:"
          wc -l ~/.ssh/id_rsa
          head -n 5 ~/.ssh/id_rsa

      - name: Add server to known_hosts
        run: ssh-keyscan -H 82.157.148.39 >> ~/.ssh/known_hosts
      
      - name: Deploy to Server
        run: |
          rsync -avz packages/main/dist/        root@82.157.148.39:/www/wwwroot/microfrontend/main/
          rsync -avz packages/shop/dist/        root@82.157.148.39:/www/wwwroot/microfrontend/shop/
          rsync -avz packages/utils/dist/       root@82.157.148.39:/www/wwwroot/microfrontend/utils/
          rsync -avz packages/components/dist/  root@82.157.148.39:/www/wwwroot/microfrontend/components/
        
      - name: Restart Nginx
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "nginx -s reload"
